{% extends 'base.html' %}
{% load static %}


{% block title %}Formulário para Nova Categoria{% endblock %}


{% block content %}
    <h1>Formulário para Nova Categoria</h1>
    <form method="post" action="{% url 'categories-form' %}">
        {% if form.errors %}
            {% for error in form.errors.values %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
{% endblock %}