<!-- news/templates/news_details.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Página de Detalhes da Notícia{% endblock %}

{% block content %}
    <h1 class="news-title">{{ news.title }}</h1>
    <p class="news-content">{{ news.content }}</p>
    <span class="news-categories">
        {% for category in news.categories.all %}
            {{ category.name }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span>
    <span class="news-author">{{ news.author.name }}</span>
    <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
    {% if news.image %}
        <img src="{% static news.image.url %}" alt="{{ news.title }}">
    {% endif %}
{% endblock %}
